.canvas {
    position: fixed;
    width: 100vw;
    height: 100vh;

    background: rgb(240, 218, 101);
    background: linear-gradient(180deg, rgba(240, 218, 101, 1) 0%, rgba(200, 233, 148, 1) 100%);
    background-position: center;

    & img {
        margin-top: 350px;
        width: 100px;
        height: auto;
    }
}

.scrollElement {
    position: absolute;
    height: 100vh;
    width: 100px;
    top: 0;
    z-index: 0;
}