<div>
  <div class="canvas" id="canvas">
    <img id="canva" src="images/car.png" />
    <img id="canva1" src="images/sun.png" />
    <img id="canva2-1" src="images/cloud.png" />
    <img id="canva2-2" src="images/cloud.png" />
    <img id="canva3-1" src="images/build.png" />
    <img id="canva3-2" src="images/build.png" />
    <img id="canva4" src="images/bush.png" />
    <img id="canva5-1" src="images/hills.png" />
    <img id="canva5-2" src="images/hills.png" />
    <img id="canva6" src="images/builds.png" />
    <img id="canva7" src="images/highway-road.png" />
  </div>
  <div class="scrollElement"></div>
</div>